@import "~styles/settings.scss";

.c-mydataset-form {
  min-height: 500px;
  .input-field {
    max-width: rem(350px);
  }

  h1 {
    margin-bottom: rem(20px);
    font-weight: 300;
    font-size: 18px;

    @media screen and (min-width: $screen-m) {
      font-size: rem(36px);
      margin-bottom: rem(30px);
    }
  }

  b {
    font-weight: 500;
  }

  .submit-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $screen-m) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .dataset-submit {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .submit-btn {
      min-width: rem(180px);
    }
  }

  .delete-dataset {
    padding: 0;
    color: $error;
    width: 100%;

    @media screen and (min-width: $screen-m) {
      width: auto;
    }

    .delete-icon {
      margin-right: rem(5px);
      margin-top: rem(-1px);
      position: relative;
      fill: $error;
    }
  }

  .reset-form-btn {
    margin: auto;
    width: rem(200px);
    margin-top: rem(30px);
  }
}
