@import "~styles/settings.scss";

.c-chart-widget {
  padding: 50px 0;
}

.chart-wrapper {
  .chart-header {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    color: $black;
  }

  .chart-container {
    margin-bottom: 20px;
    height: 420px;
    background-color: $white;

    .chart-loader {
      position: relative;
      height: 100%;
      text-align: center;
      vertical-align: middle;
    }
  }

  .chart-description {
    padding-top: 20px;
  }
}
